<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表1</title>
    <link rel="stylesheet" href="/element-ui-2.13.2.css">
    <script src="/vue.js"></script>
    <script src="/element-ui-2.13.2.js"></script>
    <script src="/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <template>
            <el-table
                    :data="tableData"
                    style="width: 100%">
                <el-table-column
                        prop="actionTime"
                        label="活动时间"
                        width="180"
                        :formatter="dates">
                </el-table-column>
                <el-table-column
                        prop="userid"
                        label="用户ID"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="pageid"
                        label="页面ID">
                </el-table-column>
                <el-table-column
                        prop="sessionid"
                        label="Session作用ID">
                </el-table-column>
            </el-table>
        </template>
    </div>

<script>
     var vm=new Vue({
         el:"#app",
         data:{},
         methods:{
             dates:function (row) {
                 return row.actionTime.split(".")[0].replace("T"," ");
             }
         },
         data:{
                 tableData: []
         },
         created:function () {
             // 页面一加载 就要 访问 url   /student/selectAll
             axios.get("/sessionLog/selectAll").then( res=>{
                 console.log(res)

                 // 把json 数组赋值给  tableData
                 this.tableData=res.data.data
             });

         }

     })
</script>
</body>
</html>