<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sysLog列表</title>
    <link rel="stylesheet" href="/element-ui-2.13.2.css">
    <script src="/vue.js"></script>
    <script src="/element-ui-2.13.2.js"></script>
    <script src="/axios.min.js"></script>
</head>
<body>
   <div id="app">

       <template>
           <el-table
                   :data="tableData"
                   style="width: 100%">
               <el-table-column
                       prop="userSession"
                       label="用户session"
                       width="180">
               </el-table-column>
               <el-table-column
                       prop="eventType"
                       label="事件类型"
                       width="180">
               </el-table-column>
               <el-table-column
                       prop="categoryId"
                       label="类别"
                       width="180">
               </el-table-column>
               <el-table-column
                       prop="userId"
                       label="用户ID"
                       width="180">
               </el-table-column>
               <el-table-column
                       prop="productId"
                       label="产品ID"
                       width="180">
               </el-table-column>
               <el-table-column
                       prop="addressName"
                       label="地址名称"
                       width="180">
               </el-table-column>
               <el-table-column
                       prop="eventTime"
                       label="活动时间"
                       width="180"
                       :formatter="dates">
               </el-table-column>

           </el-table>
       </template>

   </div>

   <script>
       var vm = new Vue({
           el:'#app',
           data:{
               tableData: []

           },
           methods:{
               dates:function (row) {
                   return row.eventTime.split(".")[0].replace("T"," ");
               }
           },
           created:function () {
               //页面一加载，就访问url  /student/selectAll
               axios.get("/sysLog/selectAll").then(res=>{
                   console.log(res)
                   //把json数组 赋值给 tableDate
                   this.tableData=res.data.data
               });
           }
       });
   </script>

</body>
</html>